@charset "utf-8";

.custom_header{
    color: red; 
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.post{
    border: 2px solid green; 
    border-radius: 20px; 
    background-color: white; 
    margin: 10px 30px 10px;
}
.index_post{
    border: 2px solid green; 
    border-radius: 20px; 
    background-color: white; 
    margin: 10px auto;
    width: 70%;
    max-width: 700px;
}
.index_post:hover {
    background-color: #CEF9DC;
}
.mypost{
    border: 2px solid green; 
    border-radius: 20px; 
    background-color: white; 
    margin: 10px auto;
    width: 70%;
    max-width: 700px;
}
.create_form{
    width: 80%;
    margin:0 auto;
}
.user{
    border: 2px solid green; 
    border-radius: 20px; 
    background-color: white; 
    margin: 10px 30px 10px;
}
.border{
    /*border: 2px solid green; */
    background-color: #99FFFF; 
    /*margin: 10px 30px 10px;*/
}
.border_bottom{
    border-bottom: 1px solid black; 
}
.border_button{
    border-radius: 20px; 
    border: 2px solid black; 
    background-color: #33FF66;
    width: 8em; 
    height: 3em; 
    font-weight: 800;
    margin-top: 10px;
}

.recruit{
    text-align: center;
    margin: 20px 0;
}

.search_box{
    margin:10px auto;
    text-align: center; 
}
.search{
    width: 20%; 
    height: 20%; 
    margin:0 10px;
}

.origin .destination .people .time_zone .comment{
    display: flex;
    margin-left: 20px;
}

.mymessage{
    border: 1px solid #afadad;
    border-radius: 5px;
    width: fit-content; 
    padding: 5px 10px;
    font-size: 13px;
}

.message{
    margin: 5px; 
    border: 1px solid #afadad;
    border-radius: 5px;
    width: fit-content; 
    padding: 5px 10px;
    font-size: 13px;
}

td, th{
    border: 1px solid black;
    text-align: center;
    height: 40px;
}

.users_table{
    width: 80%;
    margin: auto; 
}

.fares_table{
    border: 1px solid black;
    width: 80%;
    height: 60px;
    margin:0 10%; 
    background-color: white;
}
+